{% extends 'base.html' %}

{% block title %}Přihlašovací stránka{% endblock %}

{% block content %}
<h1>Přihlásit se do Knihomolu</h1>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Uživatelské jméno:</label>
        <input type="text" name="username" class="form-control" id="username" required>
    </div>
    <div class="form-group">
        <label for="password">Heslo:</label>
        <input type="password" name="password" class="form-control" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Přihlásit se</button>
</form>

<p>Nemáte účet? <a href="{% url 'register' %}">Zaregistrujte se zde</a>.</p>
{% endblock %}
