{% extends 'base.html' %}

{% block title %}Registrační stránka{% endblock %}

{% block content %}
<h2>Toto je vaše stránka pro registraci.</h2>

<form method="post">
    {% csrf_token %}

    <div>
        {{ form.username.label_tag }} {{ form.username }}
    </div>

    <div>
        {{ form.email.label_tag }} {{ form.email }}
    </div>

    <div>
        {{ form.password1.label_tag }} {{ form.password1 }}
    </div>

    <div>
        {{ form.password2.label_tag }} {{ form.password2 }}
    </div>

    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|striptags }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <button type="submit" class="btn btn-primary">Registrovat se</button>
</form>

{% endblock %}
