{% extends 'base.html' %}

{% block title %}Moje knihovna{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Moje knihovna</h1>

    {% if books_in_library %}
        <ul class="list-group">
            {% for item in books_in_library %}
                <li class="list-group-item">
                    <strong>{{ item.book.books_name }}</strong>
                    ({{ item.book.year_of_publication }})<br>
                    <span>Stav čtení: {{ item.book.reading_progress }} - Stav knihy: {{ item.book.books_condition }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info text-center mt-3">
            Nemáte žádné knihy ve své knihovně.
        </div>
    {% endif %}

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Zpět na domovskou stránku</a>
    </div>
</div>
{% endblock %}
